section {
  background-color: #0a0a0a;
}

.blog-grid {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(38, 38, 38, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(38, 38, 38, 0.5) 1px, transparent 1px);
  background-size: 60px 60px;
}
.background-circle-1,
.background-circle-2 {
  filter: blur(64px);
}
.background-circle-1 {
  max-width: 384px;
  width: 100%;
  height: 384px;
  background-color: #ff69001a;
  top: 25%;
  left: 25%;
}

.background-circle-2 {
  max-width: 384px;
  width: 100%;
  height: 384px;
  background-color: #f0b1000d;
  filter: blur(64px);
  bottom: 25%;
  right: 25%;
}

.blog-info {
  padding: 80px 24px 40px;

  h1 {
    margin-bottom: 20px;
  }
}

.section-filter {
  padding: 10px;
  top: 70px;
  border-bottom: 1px solid #262626;

  z-index: 10;
  .icon-search {
    top: 50%;
    left: 16px;
    width: 20px;
    height: 20px;
  }
  form {
    max-width: 300px;
    input {
      max-width: 300px;
    }
  }
  .category-btn {
    background-color: #161616;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid #262626;
    transition: 0.3s all;
  }
  .category-btn.active {
    background: linear-gradient(to right, var(--color-orange-500), #ea580c);
    color: white;
  }
}
.section-blogs {
  padding: 48px 24px;
}
.view-actions-menu {
  background-color: #161616;
  border: 1px solid #262626;
  .view-btn {
    background-color: transparent;
    i {
      transition: all 0.3s;
    }
    svg {
      transition: all 0.3s;
      width: 18px;
      height: 18px;
      stroke: #a3a3a3;
    }
    &:hover {
      i {
        color: white;
      }
      svg {
        stroke: white;
      }
    }
  }
  .view-btn.active {
    background-color: var(--color-orange-500);
    i,
    svg {
      stroke: white;
      color: white;
    }
  }
}
.pagination {
  svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  .pagination-btn {
    background-color: #161616;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid #262626;
    transition: 0.3s all;
    width: 45px;
    height: 45px;
  }
  .disabled-btn {
    background-color: #0a0a0a;
    svg {
      stroke: #525252;
    }
    cursor: not-allowed;
  }
  .pagination-btn.active {
    background: linear-gradient(to right, var(--color-orange-500), #ea580c);
    color: white;
  }
}

.header-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
}
.clear-filter-btn {
  transition: all 0.2s;

  i {
    transition: all 0.2s;
  }
  &:hover {
    color: var(--color-orange-500);
    i {
      color: var(--color-orange-500);
    }
  }
  &:focus {
    border: none;
  }
}
.empty-page {
  padding-block: 80px;
}
.empty-icon {
  background-color: #161616;
  width: 96px;
  height: 96px;
  border: 1px solid #262626;
}
@media screen and (min-width: 640px) {
  .header-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 75px;
  }
}

@media screen and (min-width: 992px) {
  .header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
  }
}
