section {
  background-color: #0a0a0a;
}

.nav {
  a {
    transition: all 0.3s;
    &:hover {
      color: white;
    }
  }
  p {
    font-size: 14px;
  }
}
.last-update {
  font-size: 18px;
}
.web-grid {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(38, 38, 38, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(38, 38, 38, 0.5) 1px, transparent 1px);
  background-size: 60px 60px;
}
.background-circle-1,
.background-circle-2,
.background-circle-3 {
  filter: blur(100px);
}
.background-circle-1 {
  opacity: 30%;
  max-width: 288px;
  width: 100%;
  height: 288px;
  background-color: #ff690033;
  top: 80px;
  right: 80px;
}

.section-info {
  padding-block: 30px;
}

.header-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
}

/*start*/

.header-icon {
  width: 64px;
  height: 64px;
  background-color: #ff69001a;
  border: 1px solid #ff69004d;
  border-radius: 15px;
  i {
    font-size: 32px;
  }
}
.privicies {
  background-color: #0a0a0a;
}
.inner-container {
  padding-block: 64px;
  max-width: 950px;
}
.privicies-footer {
  border-top: 1px solid #262626;
  a {
    transition: all 0.3s;
    &:hover {
      color: #fb923c;
    }
  }
}
.shield-icon {
  width: 24px;
  height: 24px;
  stroke: var(--color-orange-500);
}
.notification {
  background-color: #ff69001a;
  border: 1px solid #f0b10033;
  padding: 24px;
  margin-bottom: 48px;

  p {
    color: #ffb86acc;
  }
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 768px) {
  .header-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
  .header-title-2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }
}

@media screen and (min-width: 992px) {
  .header-title-2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
  }
}
