<main>
  <section class="position-relative hero p-5">
    <div class="hero-grid"></div>
    <div class="position-absolute rounded-circle background-circle-1"></div>

    <div class="container-fluid container-md z-3">
      <div
        class="position-relative hero-info d-flex align-items-center justify-content-center flex-column text-center"
      >
        <app-badge text="من نحن" textColor="text-orange-500"> </app-badge>
        <h1 class="header-title">
          مهمتنا هي
          <span class="gradient-text"> الإعلام والإلهام</span>
        </h1>
        <p class="text-title-desc text-neutral-400 mb-5 mx-auto">
          مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية لتطوير
          مهاراتكم. نحن شغوفون بمشاركة المعرفة ومساعدة المصورين على تنمية مهاراتهم من خلال محتوى
          عالي الجودة.
        </p>

        <div class="row row-cols-2 row-cols-md-4 g-4">
          <div class="col">
            <app-grass-card value="+2مليون" desc="قارئ شهرياً" icon="fa-users"></app-grass-card>
          </div>
          <div class="col">
            <app-grass-card value="+500" desc="مقالة منشورة" icon="fa-users"></app-grass-card>
          </div>
          <div class="col">
            <app-grass-card value="+50" desc="كاتب خبير" icon="fa-folder-open"></app-grass-card>
          </div>
          <div class="col">
            <app-grass-card value="+15" desc="تصنيف" icon="fa-pen-nib"></app-grass-card>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-review">
    <div class="container-fluid container-md">
      <div class="d-flex justify-content-center align-items-center flex-column mb-3">
        <h2 class="secondary-header d-flex align-items-center gap-2">
          <span class="title-bar"></span> قيمنا <span class="title-bar bar-2"> </span>
        </h2>
        <div
          class="d-flex align-items-start justify-content-between flex-column flex-md-row align-items-md-center gap-3 gap-md-0"
        >
          <p class="section-desc-2 mb-0 mt-2 text-neutral-400">
            المبادئ التي توجه كل ما نقوم بإنشائه
          </p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 w-100 px-4 mt-5">
        <div class="col">
          <div class="review-card position-relative rounded-4">
            <div class="card-overlay top-0 start-0 end-0 bottom-0 position-absolute"></div>
            <div class="d-flex align-items-center justify-content-center flex-column gap-2">
              <div class="card-icon">
                <i class="fa-solid fa-bullseye"></i>
              </div>
              <h3 class="mb-0 fw-bold fs-18px">الجودة أولاً</h3>
              <span class="text-center text-neutral-400 fs-14px"> محتوى مدروس ومكتوب بخبرة </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="review-card position-relative rounded-4">
            <div class="card-overlay top-0 start-0 end-0 bottom-0 position-absolute"></div>
            <div class="d-flex align-items-center justify-content-center flex-column gap-2">
              <div class="card-icon">
                <i class="fa-solid fa-bolt"></i>
              </div>
              <h3 class="mb-0 fw-bold fs-18px">تركيز عملي</h3>
              <span class="text-center text-neutral-400 fs-14px">
                أمثلة واقعية يمكنك تطبيقها اليوم
              </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="review-card position-relative rounded-4">
            <div class="card-overlay top-0 start-0 end-0 bottom-0 position-absolute"></div>
            <div class="d-flex align-items-center justify-content-center flex-column gap-2">
              <div class="card-icon">
                <i class="fa-solid fa-handshake"></i>
              </div>
              <h3 class="mb-0 fw-bold fs-18px">المجتمع</h3>
              <span class="text-center text-neutral-400 fs-14px">تعلم مع آلاف المصورين </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="review-card position-relative rounded-4">
            <div class="card-overlay top-0 start-0 end-0 bottom-0 position-absolute"></div>
            <div class="d-flex align-items-center justify-content-center flex-column gap-2">
              <div class="card-icon">
                <i class="fa-solid fa-arrows-rotate"></i>
              </div>
              <h3 class="mb-0 fw-bold fs-18px">دائماً محدث</h3>
              <span class="text-center text-neutral-400 fs-14px">
                أحدث الاتجاهات وأفضل الممارسات
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-our-team">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center flex-column mb-3">
        <app-badge text="فريقنا" textColor="text-orange-500"></app-badge>
        <h2 class="secondary-header">تعرف على كتابنا</h2>
        <div
          class="d-flex align-items-start justify-content-between flex-column flex-md-row align-items-md-center gap-3 gap-md-0"
        >
          <p class="mb-0 mt-3 text-neutral-400 fs-18px">
            فريقنا من المصورين والكتاب ذوي الخبرة شغوفون بمشاركة معرفتهم مع المجتمع.
          </p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 w-100 mt-5">
        @for (author of authors; track $index) {
          <div class="col">
            <div
              class="team-member-card d-flex align-items-center flex-column justify-content-center p-4 gap-2"
            >
              <div class="member-avatar rounded-circle position-relative">
                <div
                  class="online-signture position-absolute z-3 d-flex align-items-center justify-content-center"
                >
                  <i class="fa-solid fa-check"></i>
                </div>
                <img class="h-100 w-100 rounded-circle" [src]="author.avatar" alt="" />
              </div>
              <div>
                <h3 class="mb-0 fs-18px mt-3">{{ author.name }}</h3>
                <p class="mb-0 text-orange-500 fs-14px text-center">{{ author.role }}</p>
              </div>
              <div class="contact-links d-flex align-items-center gap-2">
                <a
                  href="#"
                  class="contact-link-icon d-flex align-items-center justify-content-center rounded-3 twitter-icon"
                >
                  <i class="text-neutral-500 fa-brands fa-x-twitter"></i>
                </a>
                <a
                  href="#"
                  class="contact-link-icon d-flex align-items-center justify-content-center rounded-3 github-icon"
                >
                  <i class="text-neutral-500 fa-brands fa-github"></i>
                </a>
                <a
                  href="#"
                  class="contact-link-icon d-flex align-items-center justify-content-center rounded-3 linked-in-icon"
                >
                  <i class="text-neutral-500 fa-brands fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
  <section class="contact-us">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center flex-column mb-3">
        <h2 class="secondary-header">لديك أسئلة؟ دعنا نتحدث!</h2>

        <p class="contact-desc mb-0 mt-3 fs-18px text-center">
          نحب أن نسمع منك. سواء كان لديك سؤال حول محتوانا، أو تريد المساهمة، أو تريد فقط إلقاء
          التحية، لا تتردد في التواصل.
        </p>
        <div
          class="d-flex align-items-center gap-2 flex-column flex-sm-row mt-5 w-100 justify-content-center"
        >
          <a
            [href]="'mailto:' + email"
            class="btn-primary rounded-4 d-flex align-items-center gap-2 align-self-stretch"
          >
            <i class="fa-regular fa-envelope text-white"></i>
            تواصل معنا
          </a>
          <a
            routerLink="/blog"
            class="btn-secondary rounded-4 d-flex align-items-center gap-2 align-self-stretch"
          >
            تصفح المقالات
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
