section {
  background-color: #0a0a0a;
}

.hero-grid {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(38, 38, 38, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(38, 38, 38, 0.5) 1px, transparent 1px);
  background-size: 60px 60px;
}

.background-circle-1 {
  filter: blur(100px);
  max-width: 288px;
  width: 100%;
  height: 288px;
  background-color: #ff690033;
  opacity: 0.3;
  top: 80px;
  left: 80px;
}

.text-title-desc {
  max-width: 768px;
  font-size: 20px;
}
.hero-info {
  padding: 80px 24px;

  h1 {
    margin-bottom: 24px;
  }
}

.header-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
}
.title-bar {
  display: inline-block;
  width: 6px;
  height: 32px;
  border-radius: 12px;
  background: linear-gradient(to bottom, var(--color-orange-500), var(--color-yellow-500));
}
.bar-2 {
  background: linear-gradient(to top, var(--color-orange-500), var(--color-yellow-500));
}
.section-review {
  padding-block: 96px;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  background-color: #111111;
}
.secondary-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.review-card {
  padding: 24px;
  border: 1px solid #262626;
  transition: all 0.3s;
  height: 100%;
  .card-overlay {
    transition: all 0.3s;
    background: linear-gradient(to bottom right, var(--color-orange-500), var(--color-yellow-500));
    opacity: 0;
  }
  h3 {
    transition: all 0.3s;
  }
  &:hover {
    border: 1px solid #ff69004d;
    .card-overlay {
      opacity: 10%;
    }
    h3 {
      color: var(--color-orange-500);
    }
  }
  .card-icon {
    i {
      color: var(--color-orange-500);
      font-size: 36px;
    }
  }
}

.section-our-team {
  padding: 96px;
  .team-member-card {
    transition: all 0.3s;
    background-color: #161616;
    border-radius: 13px;
    border: 1px solid #262626;

    &:hover {
      border: 1px solid rgba(249, 115, 22, 0.3);
      .member-avatar {
        border: 6px solid rgba(249, 115, 22, 0.3);
      }
    }
  }
  .contact-link-icon {
    width: 36px;
    height: 36px;
    background-color: #262626;
    transition: all 0.3s;
    i {
      transition: all 0.3s;
    }
  }
  .linked-in-icon {
    &:hover {
      background-color: #2563eb;
      i {
        color: white;
      }
    }
  }
  .github-icon {
    &:hover {
      background-color: #404040;
      i {
        color: white;
      }
    }
  }
  .twitter-icon {
    &:hover {
      background-color: var(--color-orange-500);
      i {
        color: white;
      }
    }
  }
  .member-avatar {
    transition: all 0.3s;
    border: 6px solid #262626;
  }
}
.online-signture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  right: -4px;
  bottom: -4px;
  border: 1px solid #161616;
  background-color: var(--color-orange-500);
  i {
    font-size: 8px;
  }
}
.contact-us {
  padding-block: 96px;
  background: linear-gradient(
    to bottom right,
    #ea580c,
    var(--color-orange-500),
    var(--color-yellow-500)
  );
  .btn-primary {
    background: black !important;
  }
  .btn-secondary {
    border: 1px solid #ffffff66;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  .contact-desc {
    color: #ffffffcc;
  }
}

@media screen and (min-width: 640px) {
  .header-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
  }
}

@media screen and (min-width: 992px) {
}
