:root {
  --color-orange-500: oklch(70.5% 0.213 47.604);
  --color-orange-600: oklch(64.6% 0.222 41.116);
  --color-yellow-500: #f59e0b;
}
* {
  font-family: 'Tajawal', sans-serif;
  color: white;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::selection {
  color: white;
  background-color: var(--color-orange-500);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f59e0b;
}

a {
  text-decoration: none;
}

.text-neutral-500 {
  color: #737373;
}

.text-neutral-200 {
  color: #e5e7eb;
}

.text-neutral-300 {
  color: #d1d5db;
}
.text-neutral-400 {
  color: #a3a3a3;
}

.text-neutral-600 {
  color: #525252;
}
.text-neutral-700 {
  color: #374151;
}

.text-orange-400 {
  color: #fb923c;
}
.text-orange-500 {
  color: var(--color-orange-500);
}
.text-yellow-500 {
  color: var(--color-yellow-500);
}
.gradient-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(135deg, #f97316, #fbbf24);
  -webkit-background-clip: text;
  background-clip: text;
}

.fs-12px {
  font-size: 12px;
}
.fs-14px {
  font-size: 14px;
}
.fs-18px {
  font-size: 18px;
}

.input-primary {
  padding: 12px 16px;
  border-radius: 15px;
  border: 1px #262626 solid;
  transition: all 0.2s;
  background-color: #161616;
  outline: none;
  &::placeholder {
    color: #525252;
  }
  &:focus {
    border: 1px solid var(--color-orange-500);
    box-shadow: 0 0 0 1px var(--color-orange-500);
  }
}

.btn-primary {
  cursor: pointer;
  padding: 16px 32px;
  font-weight: 600;
  color: white;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: linear-gradient(135deg, #f97316, #ea580c);
  border-radius: 3.40282e38px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  &:hover {
    transform: translateY(-2px);
  }
}

.btn-secondary {
  cursor: pointer;
  padding: 16px 32px;
  font-weight: 600;
  color: white;
  transition: all 0.3s;
  background-color: #0000;
  border: 1px solid #333;
  border-radius: 3.40282e38px;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  display: inline-flex;
  &:hover {
    span {
      color: #f97316;
    }

    background: #f973161a;
    border-color: #f97316;
  }
}
